<tr id="client_<%= client.id %>" >
  <td><%= client.total_name %></td>
  <td><%= client.address %></td>
  <td><%= client.phone_number %></td>
  <td>
    <%= link_to "Editar", edit_client_path(client), class: "btn btn-info", remote: true %>
    <%= link_to "Borrar", client, remote: true, method: :delete, data: { confirm: "¿Borrar cliente: #{client.total_name}?"}, class: "btn btn-danger" %>
  </td>
</tr>
