<%= form_with(model: @client, remote: true) do |form| %>
  <div class="form-group">
    <h4 class="control-label">Datos del cliente</h4>
  </div>

  <div class="item form-group<%= @client.errors[:total_name].any? ? 'has-error has-feedback' : '' %>">
    <%= form.label :total_name, "Nombre del cliente:" %>
    <div class="input-group">
      <%= form.text_field :total_name, class:"form-control", placeholder: "" %>
      <% if @client.errors[:total_name].any? %>
        <p class="bg-danger"><%= @client.errors[:total_name].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @client.errors[:address].any? ? 'has-error has-feedback' : '' %>">
    <%= form.label :address, "Dirección del cliente:" %>
    <div class="input-group">
      <%= form.text_field :address, class:"form-control", placeholder: "" %>
      <% if @client.errors[:address].any? %>
        <p class="bg-danger"><%= @client.errors[:address].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @client.errors[:phone_number].any? ? 'has-error has-feedback' : '' %>">
    <%= form.label :phone_number, "Número de telefono:" %>
    <div class="input-group">
      <%= form.text_field :phone_number, class:"form-control", placeholder: "" %>
      <% if @client.errors[:phone_number].any? %>
        <p class="bg-danger"><%= @client.errors[:phone_number].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <%= form.submit @client.new_record? ? "Nuevo Cliente" : "Actualizar Cliente", :class => "btn btn-success"%>
<% end %>
