<%= form_with(model: @product, remote: true, multipart: true) do |f | %>
  <div class="form-group">
    <h4 class="control-label">Datos del producto</h4>
  </div>

  <div class="item form-group<%= @product.errors[:name].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :name, "Nombre del producto: " %>
    <%= image_tag(@product.image.url, size: "150x150") if @product.image? %>
    <div class="input-group">
      <%= f.file_field :image, class: "form-control" %>
      <%if @product.errors[:image].any? %>
        <p class="bg-danger"><%= @product.errors[:image].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @product.errors[:name].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :name, "Nombre del producto: " %>
    <div class="input-group">
      <%= f.text_field :name, {:class=> "form-control", :placeholder=>"Introduzca el name del producto..."} %>
      <%if @product.errors[:name].any? %>
        <p class="bg-danger"><%= @product.errors[:name].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @product.errors[:description].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :description, "Descripción del producto: " %>
    <div class="input-group">
      <%= f.text_area :description, {class: "form-control", :placeholder=>"Introduzca la descripción del producto..."} %>
      <%if @product.errors[:description].any? %>
        <p class="bg-danger"><%= @product.errors[:description].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @product.errors[:price].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :price, "Precio del producto: " %>
    <div class="input-group">
      <%= f.number_field :price, {class: "form-control", :placeholder=>"Precio del producto"} %>
      <%if @product.errors[:price].any? %>
        <p class="bg-danger"><%= @product.errors[:price].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @product.errors[:existence].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :existence, "Stock inicial: " %>
    <div class="input-group">
      <%= f.number_field :existence, {class: "form-control", :placeholder=>"Stock inicial"} %>
      <%if @product.errors[:existence].any? %>
        <p class="bg-danger"><%= @product.errors[:existence].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @product.errors[:category].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :category, "Categoría: " %>
    <div class="input-group">
      <%= collection_select(:product, :category_id, @categories, :id, :name, {prompt: 'Seleccione categoria'}, { class: "form-control" })%>
      <%if @product.errors[:category].any? %>
        <p class="bg-danger"><%= @product.errors[:category].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @product.errors[:supplier].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :supplier, "Proveedor: " %>
    <div class="input-group">
      <%= collection_select(:product, :supplier_id, @suppliers, :id, :total_name, { :prompt => 'Seleccione un proveedor'}, { class: "form-control" })%>
      <%if @product.errors[:supplier].any? %>
        <p class="bg-danger"><%= @product.errors[:supplier].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <%= f.submit @product.new_record? ? "Nuevo Producto" : "Actualizar Producto", :class => "btn btn-success"%>
<% end %>
