<tr id="product_<%= product.id %>" >
  <td><%= image_tag(product.image.url, size: "50x50", class: "rounded-circle") if product.image? %></td>
  <td><%= product.name %></td>
  <td><%= product.existence %></td>
  <td>$<%= product.price %></td>
  <td><%= product.category ? product.category.name : "No tiene categoria" %></td>
  <td><%= product.supplier ? product.supplier.total_name : "No tiene proveedor" %></td>
  <td>
    <%= link_to "Editar", edit_product_path(product), class: "btn btn-info" , remote: true %>
    <%= link_to "Borrar", product, remote: true, method: :delete, data: { confirm: "¿Borrar producto: #{product.name}?"}, class: "btn btn-danger" %>
  </td>
</tr>
